<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2017-2021</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Engineering</div>
                                <h4 class="category">anurag engineering college</h4>
                                <ul>
                                    <li> anurag enginnering college <b>top 10</b> in Telangana </li>
                                        <li>Completed B-tech in electrical and electronics Engineering with <b>70% </b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2017</p>
                        <div class="h5">Secondary education</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Inter MPC</div>
                            <h4 class="category">New science jr College</h4>
                            <ul>
                                    <li>Completed secondary education with <b>80%</b> aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015</p>
                        <div class="h5">Primary education</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Telugu Medium</div>
                                <h4 class="category">Narayana Concept School</h4>
                                <ul>
                                        <li>Completed with <b>87% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                            
</div>     